body{
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	background-image: linear-gradient(120deg,#3498db,#8e44ad);
	background-repeat: no-repeat;
	font-family:"Comfortaa",sans-serif;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100vh;

}

.login{
	width:320px;
	height:320px;
	border: none;
	top:55%;
	left:50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 68px 28px;
}

.usuario{
	background: transparent;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left:112px;
}

h1{
	margin: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 20px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
}

.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width: 100%;
	margin-bottom: 21px;
}

.login input[type="text"], input[type="password"]{
	background: transparent;
	border-radius: 5px;
	border: none;
	outline:none;
	height: 40px;
	color: white;
	font-size: 16px;
	padding-left: 10px;
}

.login input[type="submit"] {
	display: block;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
	background-size: 200%;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: .5s;
	border-radius: 20px;
}

.login input[type="submit"]:hover {
	background-position: right;
}

.login a {
	font-weight: bold;
	text-decoration:none;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	transition: 0.5s;

}
.login a:hover {
	transition: 0.2s;
	color: #3498db;
}
