body{
    overflow: hidden;
    margin: 0px;
    background-repeat: no-repeat;

}

.horizonte{
    position:relative;
    width: auto;
    height: 130px;
    background-image: url("../pictureSys/city.jpg");
    background-size: 100%;
    background-position: 0px -38px;
    background-repeat: no-repeat;

}


.ftperfil img{
    height: 80px;
    width: 80px;
    position:relative;
    border-radius: 90%;
    top: 8px;
    left: 12px;
}

.menu{
    text-align: center;
    position: absolute;
    height: 25px;
    width: 100px;
    top: 78%;
    left: 2.5px;
    border-radius: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: transparent;
    outline: none;
    opacity: 1.0;
    font-weight: bold;
    transition: 0.2s;
}

.menu:hover{
    background: #c9e8ff;
    transition: 0.2s;
    color:#000000;
}

.vertical{
    font-size: small;
    position: absolute;
    background-color: #d7f5ff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    -moz-opacity: 0.10;
    height:100%;
    width: 9%;
    float: right;
    right: 0;
    border-width: medium;
    top:auto;
}
.vertical img{
    margin-top: -13px;
    height: 30px;
    width: 30px;
    border-radius: 20%;
}
.My_day {
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

textarea {
    display: block;
    margin-right: 100px;
    width: 1200px;
    height: 630px;
    margin-bottom: 10%;
}
